In [1]:
# !pip install -q kaggle

In [2]:
# import os
# os.environ['KAGGLE_USERNAME'] = 'jhawarchirag0'
# os.environ['KAGGLE_KEY'] = 'ff3399fb96776874b1af83012390af5d'

In [ ]:
# import kaggle as kg

In [2]:
import ast
import json
import pandas as pd 
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [2]:
cd cloudfiles/code/Users/chirag.jhawar

[Errno 2] No such file or directory: 'cloudfiles/code/Users/chirag.jhawar'
/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar

In [4]:
# kg.api.authenticate()
# kg.api.dataset_download_files(dataset="rounakbanik/the-movies-dataset", path='gt.zip', unzip=True)

In [3]:
# df1 = pd.read_csv('gt.zip/movies_metadata.csv', encoding='ISO-8859-1')
# df1.head()

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
# df2 = pd.read_csv('gt.zip/credits.csv')
# df2.head(3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

In [5]:
# df1["id"] = pd.to_numeric(df1["id"], errors='coerce')
# type(df1.iloc[0]["id"])
# df2["id"] = pd.to_numeric(df2["id"], errors='coerce')
# type(df2.iloc[0]["id"])

numpy.int64

In [6]:
# df2= df2.merge(df1,on='id')
# df2.head(3)

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [7]:
# new_df2 = df2
# new_df2[new_df2["title"] == "The Matrix"]

,cast,crew,id,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2466,"[{'cast_id': 34, 'character': 'Thomas ""Neo"" An...","[{'credit_id': '52fe425bc3a36847f801812f', 'de...",603,False,"{'id': 2344, 'name': 'The Matrix Collection', ...",63000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.warnerbros.com/matrix,tt0133093,en,...,1999-03-30,463517383.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the Real World.,The Matrix,False,7.9,9079.0

In [8]:
# for row in df2.index:
#     cast_list = df2.loc[row]["cast"]
#     cast_list = ast.literal_eval(cast_list)
#     # cast_list = json.loads(cast_list)
#     cast_str = ""
#     for ele in cast_list[:4]:
#         cast_str += "".join(ele["name"].split()) + " "
#     df2.loc[row, ["cast"]] = cast_str

#     crew_list = df2.loc[row]["crew"]
#     crew_list = ast.literal_eval(crew_list)
#     # crew_list = json.loads(crew_list)
#     crew_df = pd.DataFrame(crew_list)
#     try:
#         crew_df = crew_df[crew_df["department"] == "Directing"]
#         df2.loc[row, ["crew"]] = crew_df.iloc[0]["name"]
#     except:
#         df2.loc[row, ["crew"]] = ""
    
#     genre_list = df2.loc[row]["genres"]
#     genre_list = ast.literal_eval(genre_list)
#     # genre_list = json.loads(genre_list)
#     genre_str = ""
#     for ele in genre_list:
#         genre_str += "".join(ele["name"].split()) + " "
#     df2.loc[row, ["genres"]] = genre_str

In [3]:
df2.to_csv("/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/tmdb_processed.csv", index=False)

NameError: name 'df2' is not defined

In [4]:
import pandas as pd 
import numpy as np

In [5]:
df2 = pd.read_csv("/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/tmdb_processed.csv")

In [6]:
df2 = df2.fillna("")
new_df2 = df2.iloc[:20000]

In [7]:
tfidf = TfidfVectorizer()
new_df2['overview'] = new_df2['overview'].fillna('')
tfidf_matrix_overview = tfidf.fit_transform(new_df2['overview'])
tfidf_matrix_cast = tfidf.fit_transform(new_df2['cast'])
tfidf_matrix_crew = tfidf.fit_transform(new_df2['crew'])
tfidf_matrix_genres = tfidf.fit_transform(new_df2['crew'])

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
cosine_sim_overview = linear_kernel(tfidf_matrix_overview, tfidf_matrix_overview)
cosine_sim_cast = linear_kernel(tfidf_matrix_cast, tfidf_matrix_cast)
cosine_sim_crew = linear_kernel(tfidf_matrix_crew, tfidf_matrix_crew)
cosine_sim_genres = linear_kernel(tfidf_matrix_genres, tfidf_matrix_genres)
final_cosine_sim = cosine_sim_overview + cosine_sim_cast + cosine_sim_crew + cosine_sim_genres
# final_cosine_sim += linear_kernel(tfidf_matrix_cast, tfidf_matrix_cast)
# final_cosine_sim += linear_kernel(tfidf_matrix_crew, tfidf_matrix_crew)
# final_cosine_sim += linear_kernel(tfidf_matrix_genres, tfidf_matrix_genres)

In [13]:
final_cosine_sim

array([[4.        , 0.03157472, 0.01314537, ..., 0.02039742, 0.01474638,
        0.01675397],
       [0.03157472, 4.        , 0.05869463, ..., 0.01422166, 0.01837918,
        0.04115519],
       [0.01314537, 0.05869463, 4.        , ..., 0.        , 0.00657336,
        0.06615119],
       ...,
       [0.02039742, 0.01422166, 0.        , ..., 4.        , 0.01936244,
        0.01265047],
       [0.01474638, 0.01837918, 0.00657336, ..., 0.01936244, 4.        ,
        0.07412789],
       [0.01675397, 0.04115519, 0.06615119, ..., 0.01265047, 0.07412789,
        4.        ]])

In [14]:
indices = pd.DataFrame()
indices["index"] = new_df2.index
indices["title"] = new_df2['title']

In [15]:
indices[ indices["title"] == "Toy Story"]

   index      title
0      0  Toy Story

In [18]:
# save numpy array as npy file
from numpy import asarray
from numpy import save
# define data
# data_cosine_sim_overview = asarray(cosine_sim_overview)
# data_cosine_sim_cast = asarray(cosine_sim_cast)
# data_cosine_sim_crew = asarray(cosine_sim_crew)
# data_cosine_sim_genres = asarray(cosine_sim_genres)
data = asarray(final_cosine_sim)
# save('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/data_cosine_sim_overview.npy', data_cosine_sim_overview)
# save('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/data_cosine_sim_cast.npy', data_cosine_sim_cast)
# save('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/data_cosine_sim_crew.npy', data_cosine_sim_crew)
# save('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/data_cosine_sim_genres.npy', data_cosine_sim_genres)
save('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/final_cosine_sim_20k.npy', final_cosine_sim)

In [19]:
# # load numpy array from npy file
# from numpy import load
# # load array
# # cosine_sim_overview = load('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/data_cosine_sim_overview.npy')
# # cosine_sim_cast = load('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/data_cosine_sim_cast.npy')
# # cosine_sim_crew = load('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/data_cosine_sim_crew.npy')
# # cosine_sim_genres = load('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/data_cosine_sim_genres.npy')
# final_cosine_sim = load('/mnt/batch/tasks/shared/LS_root/mounts/clusters/movie-ram/code/Users/chirag.jhawar/Weights/final_cosine_sim_20k.npy')

In [21]:
def get_recommendations(title):
    idx = indices[indices["title"] == title]["index"].to_list()[0]
    final_sim = np.array(final_cosine_sim[idx])
    sim_scores = list(enumerate(final_sim))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # print(sim_scores)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return new_df2['title'].iloc[movie_indices]

In [22]:
get_recommendations("The Matrix")

6250         The Matrix Reloaded
846                        Bound
6812      The Matrix Revolutions
12592                Speed Racer
9405               The Animatrix
13455    Fireflies in the Garden
17853          The Soul of a Man
3867                  Red Planet
4110                     Memento
11459                  Snow Cake
Name: title, dtype: object

In [23]:
get_recommendations("Toy Story")

19237                                  Red's Dream
11018                                         Cars
17433                                       Cars 2
19287                                  Knick Knack
10698                                     Luxo Jr.
19183                                      Tin Toy
15413                                  Toy Story 3
3008                                   Toy Story 2
14787    Dr. Otto and the Riddle of the Gloom Beam
14726          Mr. Warmth: The Don Rickles Project
Name: title, dtype: object